@import "tailwindcss";

@layer base {
  body {
    /* Efecto de papel con líneas azules */
    background-color: #fef1e6; /* sandy-brown-50 como papel crema */
    background-image: linear-gradient(#d7f4f2 1px, transparent 1px);
    background-size: 100% 30px;
    font-family:
      "Inter", sans-serif; /* Idealmente usa una tipo "Handwritten" de Google Fonts */
  }

  /* Clase para bordes dibujados a mano */
  .hand-drawn {
    border: 2px solid #321d49; /* wisteria-800 */
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  }
}
